@keyframes shake-user {
    0% { transform: translate(1rem, 1rem) rotate(0deg); }
    10% { transform: translate(2rem, 2rem) rotate(10deg); }
    20% { transform: translate(3rem, 6rem) rotate(20deg); }
}

@keyframes shake-computer {
    0% { transform: translate(1rem, 1rem) rotate(0deg); }
    10% { transform: translate(2rem, 2rem) rotate(-10deg); }
    20% { transform: translate(3rem, 6rem) rotate(-20deg); }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.25rem;
    text-align: center;
    margin-top: 1rem;
}

h1 {
    color: steelblue;
    font-family: 'Chicle', cursive;
    font-size: 4.8rem;
    margin-bottom: 2rem;
}

.choices,
.results {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

.results {
    margin-top: 3.6rem;
}

.animate-user {
    animation: shake-user 0.5s; 
    animation-iteration-count: 2; 
}

.animate-computer {
    animation: shake-computer 0.5s; 
    animation-iteration-count: 2; 
}

.rock,
.paper,
.scissors {
    width: 15%;
    max-width: 25%;
    height: auto;
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
}

.user-choice,
.computer-choice {
    width: 33.333%;
    max-width: 50%;
    height: auto;
}